<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration</title>
	<link rel="stylesheet" href="/css/registration_number.css">
</head>

<body>

	<div class="container">
		<div>
			{{!-- <img src="/css/reg-bgimage.png" alt="" srcset=""> --}}
			<h1>Registration numbers</h1>
			<h3>Enter registration numbers in the following format: 'CA 123-456'</h3>
			<div>
			{{#if messages.info}}
                        <div class="entry">
                            <p class="message" id="infoMessage"> {{messages.info}}</p>
                          
                        </div>
                         <script type="text/javascript">window.setTimeout("document.getElementById('infoMessage').style.display='none';", 3000); </script>
             {{/if}}
			</div>
			<form action="/registr" method="POST">
				<input type="text" name="setReg" class="regNumberEntered" placeholder="enter a registration number">
				<button class="addRegNumber btn blue" type="submit">Add reg number</button>
			</form>

				<div class="message">

				{{#if messages.success}}
				<div class="entry">
					<p class="success_message" id="successMessage"> {{messages.success}}</p>

				</div>
				<script
					type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 3000); </script>
				{{/if}}
			</div>
<br>
			<form action="/filter" method="POST">
				<div class=""></a>
					<strong>Filter by town</strong>
					<input type="radio" name="town" value="">Show all
					<input type="radio" name="town" value="CY">Bellville
					<input type="radio" name="town" value="CJ">Paarl
					<input type="radio" name="town" value="CA"> Cape Town

					<button class="filter btn" type="submit">Filter</button>
			</form>
		</div>
		<hr>
		<div class="regNumbers">
			<!-- <i>Reg numbers to be added here...</i> -->

			<div class="regNumber">

				{{#each reg_number}}
				<li>{{registration_num}}</li>

				{{/each}}
				{{!-- CY 124-245 --}}

			</div>
		</div>
	</div>

		<div class="reset btn"><a href="/reset" name="reset">Reset</a></div>
	
				
	{{!-- </div> --}}
</body>

</html>